<!-- 🔔 TOP TOAST -->
<div *ngIf="toastMessage"
     class="auth-toast"
     [ngClass]="toastType">
  {{ toastMessage }}
</div>

<div class="forgot-container">
  <div class="forgot-box">

    <h2 class="forgot-title">Forgot Password</h2>

    <div class="input-group">
      <i class="fa fa-envelope"></i>
      <input
        type="email"
        placeholder="Enter your email"
        [(ngModel)]="email"
        name="email"
        required
        autocomplete="off"
      />
    </div>

    <button
      class="forgot-btn"
      (click)="sendResetLink()"
      [disabled]="isLoading"
    >
      <ng-container *ngIf="!isLoading; else loadingTpl">
        Send Reset Link
      </ng-container>

      <ng-template #loadingTpl>
        <span class="btn-spinner"></span>
        Sending...
      </ng-template>
    </button>

    <div class="back-login">
      <a routerLink="/">Back to Login</a>
    </div>

  </div>
</div>
