<!-- 🔔 TOP TOAST -->
<div *ngIf="toastMessage"
     class="auth-toast"
     [ngClass]="toastType">
  {{ toastMessage }}
</div>

<div class="auth-container">
  <div class="auth-box">

    <h2 class="auth-title">Reset Password</h2>

    <div class="input-group">
      <i class="fa fa-lock"></i>
      <input
        [type]="showNewPassword ? 'text' : 'password'"
        placeholder="New Password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
      <i class="fa"
         [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
         (click)="toggleNewPassword()"></i>
    </div>

    <div class="input-group">
      <i class="fa fa-lock"></i>
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
      <i class="fa"
         [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
         (click)="toggleConfirmPassword()"></i>
    </div>

    <button
      class="auth-btn"
      (click)="resetPassword()"
      [disabled]="isLoading"
    >
      <ng-container *ngIf="!isLoading; else loadingTpl">
        Reset Password
      </ng-container>

      <ng-template #loadingTpl>
        <span class="btn-spinner"></span>
        Resetting...
      </ng-template>
    </button>

    <div class="back-login">
      <a routerLink="/">Back to Login</a>
    </div>

  </div>
</div>
